<!DOCTYPE html>
<html>
<head>
  <title>Image Link Generator</title>
  <link rel="icon" href="./images/prism_60.gif">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    [v-cloak] {display: none;}
    .product-image {text-align: center;}
    .product-image > img {margin: auto; max-width: 100%; display: flex; background: #eee url("./images/photo.png") no-repeat center; height: 200px;}
    .links-wrapper {position: relative;}
    .links-wrapper > textarea {width: 100%; height: 150px; resize: vertical;}
    .links-wrapper > .btn {position: absolute; top: 0; right: 0;}
    .filter .form-group {display: block;}
    .filter .form-control {display: inline-block; width: auto;}
    .link-image > a {height: 50px; font-size: 12px;}
    .link-image > a[href$="PD.gif"] {background: #fff59d;}
    .link-image > a[href$="CP.jpg"] {background: #C5E1A5;}
    .link-image > a[href$="PD.jpg"] {background: #80CBC4;}
    .link-image > a[href$="PZ.jpg"] {background: #C5CAE9;}
    .link-image > a[href$="TH.jpg"] {background: #CE93D8;}
    .link-image > a > img {max-height: 100%;}
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-warning">
            <strong>Warning!</strong> This is not an official site used by RipeConcepts. Please use with caution. The developer is not responsible for any damages occur when using the site.
          </div>
          <div class="alert alert-info">
            <strong>Tips!</strong>
            <ul>
              <li>This tool is better when using the Chrome Extension - <a href="https://chrome.google.com/webstore/detail/cache-killer/jpfbieopdmepaolggioebjmedmclkbap">Cache Killer</a>.</li>
              <li>When using this tool, do not open the PDP before and after running compit. You can check the PDP after all links are invalidated.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 product-image">
          <img :src="'https://cdn3.minted.com/files/mintedProductsImages/MIN/' + prodkind + '/' + code + '/' + normalize_sku + '-007B_A_PD.jpg'">
        </div>
        <div class="col-sm-9">
          <form @submit.prevent>
            <div class="form-group">
              <label for="sku">SKU</label>
              <input type="text" class="form-control" name="sku" v-model="sku" placeholder="MIN-XXX-ZZZ">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox" name="prepend_parameter" value="HOLIDAY" v-model="prepend_parameter"> Prepend parameter
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="colorway">Colorways</label>
              <div class="radio">
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="A" v-model="colorway"> A
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="B" v-model="colorway"> B
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="C" v-model="colorway"> C
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="D" v-model="colorway"> D
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="E" v-model="colorway"> E
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="F" v-model="colorway"> F
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="G" v-model="colorway"> G
                </label>
                <label class="radio-inline">
                  <input type="radio" name="colorway" value="H" v-model="colorway"> H
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="greetings">Greetings <small class="text-muted">(select if applicable)</small></label>
              <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox" name="greetings" value="HOLIDAY" v-model="greetings"> Holiday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" name="greetings" value="CHRISTMAS" v-model="greetings"> Christmas
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" name="greetings" value="NEWYEAR" v-model="greetings"> New Year
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" name="greetings" value="RELIGIOUS" v-model="greetings"> Religious
                </label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" @click="generate_links">Generate</button>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Links <span class="label label-danger" v-if="links.array.length > 100">Cache invalidator has maximum of 100 entry. {{ links.array.length }} links generated.</span></label>
              <div class="links-wrapper">
                <textarea id="links" class="form-control" v-model="links.string" placeholder="Generated links"></textarea>
                <button class="btn btn-default btn-xs" @click="copy_to_clipboard">Copy</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row" v-if="links.array.length">
        <div class="col-sm-12">
          <h3>Image Links <span class="badge">{{ links.array.length }}</span></h3>
        </div>
        <div class="col-sm-12">
          <form class="filter" @submit.prevent>
            <div class="form-group">
              <label>Filter</label>
              <div>
                <select name="colorways" class="form-control" v-model="filter.colorway">
                  <option value="" disabled hidden selected="">Select colorway</option>
                  <option :value="colorway" v-for="colorway in colorways">{{ colorway }}</option>
                </select>
                <select name="layouts" class="form-control" v-model="filter.layout">
                  <option value="" disabled hidden selected="">Select layout</option>
                  <option :value="layout" v-for="layout in layouts">{{ layout }}</option>
                </select>
                <select name="formats" class="form-control" v-model="filter.format">
                  <option value="" disabled hidden selected="">Select format</option>
                  <option :value="format" v-for="format in formats">{{ format }}</option>
                </select>
                <select name="greetings" class="form-control" v-if="greetings.length > 1" v-model="filter.greeting">
                  <option value="" disabled hidden selected="">Select greeting</option>
                  <option :value="greeting" v-for="greeting in greetings">{{ normalize_greeting(greeting) }}</option>
                </select>
                <button class="btn btn-primary" v-if="filter.colorway || filter.layout || filter.format || filter.greeting" @click="filter_images">Filter</button>
                <button class="btn btn-default" v-if="filter.colorway || filter.layout || filter.format || filter.greeting" @click="clear_filter">Clear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-1 link-image" v-for="image of filter.images">
          <a class="thumbnail" :href="image" target="_blank"><img :src="image" alt="No Image Generated"></a>
        </div>
        <div class="col-sm-12" v-if="filter.images.length == 0">
          <p>No results.</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-12">
          <div class="alert alert-info">
            <strong>Supported Product Kinds:</strong>
            <ul>
              <li>AIO</li>
              <li>FPC</li>
              <li>HFM</li>
              <li>HFS</li>
              <li>HMC</li>
              <li>HNY</li>
              <li>HSM</li>
              <li>HYC</li>
            </ul>
          </div>
        </div>
      </div>
      <pre>{{this.$data}}</pre>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="./js/prodkind.js"></script>
  <script type="text/javascript" src="./js/layout.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>
